# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
venv/
env/

# IDE configs
.vscode/
.idea/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# Allure reports
hid_tests/test_reports/allure/
hid_tests/test_reports/

# pytest cache
.pytest_cache/
# Ignore Python bytecode
__pycache__/
*.py[cod]

# Build artifacts
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
